## Clics

## 1. Leemos los datos

In [63]:
import glob as glob
import pandas as pd

archivos_csv = glob.glob('families/*.csv')
archivos = {fp[9:-4]:pd.read_csv(fp, sep=',') for fp in archivos_csv}

In [64]:
lenguas = {key:dict(zip(archivos[key]['glottocode'],archivos[key]['name'])) for key in archivos.keys()}

In [65]:
lenguas = list(lenguas.values())

from collections import ChainMap

lenguas = dict(ChainMap(*lenguas))

In [66]:
data = {'glottocode': lenguas.keys(), 'name': lenguas.values()}
DF = pd.DataFrame.from_dict(data)

In [67]:
DF

    glottocode                        name
0     yura1255                    Yurakaré
1     nina1238  Ninam (Shirishana variety)
2     yano1262                    Yanomámi
3     waor1240                     Waorani
4     ache1246                        Aché
..         ...                         ...
107   trin1274                  Trinitario
108   wapi1253                   Wapishana
109   waur1244                       Waurá
110   yavi1244                    Yavitero
111   yucu1253                      Yucuna

[112 rows x 2 columns]

In [68]:
DF.to_excel("clics_amazonian_languages.xlsx")

In [69]:
archivos = {key:len(list(set(archivos[key]['glottocode']))) for key in archivos.keys()}

In [70]:
D = dict(sorted(archivos.items(), key=lambda item: item[1], reverse=True))

In [71]:
data = {'families': D.keys(), 'number of languages': D.values()}
DF = pd.DataFrame.from_dict(data)

In [72]:
DF.to_excel("clics_amazonian.xlsx")

In [73]:
## número de familias

len(archivos)

24

In [74]:
## número de lenguas

sum(list(archivos.values()))

112